[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
User=etcd
Type=notify
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_NAME=%m
ExecStart=etcd-v${etcd_version}-linux-amd64/etcd --advertise-client-urls=http://${primary_ip}:2379 --listen-client-urls=http://${primary_ip}:2379 --data-dir=/usr/local/bin/etcd/default.etcd > $etcd_dir/etcd.log
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
